/* App.css */

.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: #4caf50;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #39843c;
}
